<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARS</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="static/style.css">

    <script src="static/script.js" defer></script>
</head>
<body>
    <section id="header">
        <a href="#"><img src="static/webPage/Logo.png" class="logo" alt="" width="190" height="100"></a>

        <div>
            <ul id="navbar">
<!--                #Home-->
                <li><a href="index.html">Home</a></li>
<!--                Shirts-->
                <li class="dropdown">
                    <a href="#" class="dropbtn">Shirts</a>
                    <div class="dropdown-content">
                        <a href="shirt.html">Men's Shirts</a>
                        <a href="#">Women's Shirts</a>
                    </div>
                </li>
<!--                #Necklace-->
                <li class="dropdown">
                    <a href="#" class="dropbtn">Necklace</a>
                    <div class="dropdown-content">
                        <a href="necklace.html">Men's Locket</a>
                        <a href="#">Women's Necklace</a>
                    </div>
                </li>
<!--                #Glasses-->
                <li class="dropdown">
                    <a href="#" class="dropbtn  active">Glasses</a>
                    <div class="dropdown-content">
                        <a class="active" href="glass.html">Normal</a>
                        <a href="sunglass.html">Sun Glasses</a>
                        <a href="fancylass.html">Fancy Glasses</a>
                    </div>
                </li>
                <!--                #Earrings-->
               <li class="dropdown">
                    <a href="earrings.html" class="dropbtn">Earrings</a>
                    <div class="dropdown-content">
                        <a href="earrings.html">For Men's</a>
                        <a href="#">For Women's</a>
                    </div>
                </li>
<!--                #Contact-->
                <li><a href="contact.html">Contact</a></li>
<!--                #Cart-->
                <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="page-header">
        <h2>#stayhome</h2>
        <p>Save more with the coupons & upto 70% off!!</p>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro" data-name="p-47">
                <img src="static/glass_images/glass_1.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-48">
                <img src="static/glass_images/glass_2.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-49">
                <img src="static/glass_images/glass_3.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-50">
                <img src="static/glass_images/glass_4.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-51">
                <img src="static/glass_images/glass_5.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-52">
                <img src="static/glass_images/glass_6.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-53">
                <img src="static/glass_images/glass_7.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-54">
                <img src="static/glass_images/glass_8.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-54">
                <img src="static/glass_images/glass_9.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-56">
                <img src="static/glass_images/glass_10.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-57">
                <img src="static/glass_images/glass_11.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-58">
                <img src="static/glass_images/glass_12.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-59">
                <img src="static/glass_images/glass_13.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-60">
                <img src="static/glass_images/glass_14.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-61">
                <img src="static/glass_images/glass_15.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-62">
                <img src="static/glass_images/glass_16.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-63">
                <img src="static/glass_images/glass_17.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-64">
                <img src="static/glass_images/glass_18.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-65">
                <img src="static/glass_images/glass_19.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-66">
                <img src="static/glass_images/glass_20.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-67">
                <img src="static/glass_images/glass_21.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-68">
                <img src="static/glass_images/glass_22.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-69">
                <img src="static/glass_images/glass_23.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-70">
                <img src="static/glass_images/glass_23.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

        </div>
    </section>

    <div class="products-preview">

       <div class="preview" data-target="p-47">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_1.png" alt="">
          <h3>organic strawberries</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-48">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_2.png" alt="">
          <h3>organic onions</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_2.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-49">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_3.png" alt="">
          <h3>organic tomatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_3.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-50">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_4.png" alt="">
          <h3>organic brinjal</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_4.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-51">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_5.png" alt="">
          <h3>organic broccoli</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_5.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-52">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_6.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_6.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-53">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_7.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_7.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-54">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_8.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_8.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-55">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_9.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_9_1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-56">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_10.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_10.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-57">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_11.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_11.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-58">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_12.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-59">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_13.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_13.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-60">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_14.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_14.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-61">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_15.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_15.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-62">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_16.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_16.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-63">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_17.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_17.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-64">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_18.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_18.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-65">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_19.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_19.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-66">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_20.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_20.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-67">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_21.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_21.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-68">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_22.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_22.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-69">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_22.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_22.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-70">
          <i class="fas fa-times"></i>
          <img src="static/glass_images/glass_22.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_glass_image', image_name='glass_22.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

    </div>

<!--    <section id="pagination" class="section-p1">-->
<!--        <a href="#">1</a>-->
<!--        <a href="#">2</a>-->
<!--        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>-->
<!--    </section>-->

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newtext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail Updates about or latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="email" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="static/webPage/Logo.png" alt="" width="190" height="100">
            <h4>Contact</h4>
            <p><strong>Address: </strong>SKNCOE,Vadgaon,Pune-411052</p>
            <p><strong>Phone: </strong>+91 0123456789</p>
            <p><strong>Hours: </strong>10.00 - 10.00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow US</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinteresr-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Whislist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Store</p>
            <div class="row">
                <img src="static/webPage/app.jpg" alt="">
                <img src="static/webPage/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="static/webPage/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>@ 2023, MARS etc - Eccomerce Webiste</p>
        </div>
    </footer>
</body>
</html>
