<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARS</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="static/style.css">

    <script src="static/script.js" defer></script>
</head>
<body>
    <section id="header">
        <a href="#"><img src="static/webPage/Logo.png" class="logo" alt="" width="190" height="100"></a>

        <div>
            <ul id="navbar">
<!--                #Home-->
                <li><a href="index.html">Home</a></li>
<!--                #Shirts-->
                <li class="dropdown">
                    <a href="#" class="dropbtn">Shirts</a>
                    <div class="dropdown-content">
                        <a href="shirt.html">Men's Shirts</a>
                        <a href="#">Women's Shirts</a>
                    </div>
                </li>
<!--                #Necklace-->
                <li class="dropdown">
                    <a href="#" class="dropbtn active">Necklace</a>
                    <div class="dropdown-content">
                        <a class="active" href="necklace.html">Men's Locket</a>
                        <a href="#">Women's Necklace</a>
                    </div>
                </li>
<!--                #Glasses-->
                <li class="dropdown">
                    <a href="#" class="dropbtn">Glasses</a>
                    <div class="dropdown-content">
                        <a href="glass.html">Normal</a>
                        <a href="sunglass.html">Sun Glasses</a>
                        <a href="fancylass.html">Fancy Glasses</a>
                    </div>
                </li>
                <!--                #Earrings-->
               <li class="dropdown">
                    <a href="earrings.html" class="dropbtn">Earrings</a>
                    <div class="dropdown-content">
                        <a href="earrings.html">For Men's</a>
                        <a href="#">For Women's</a>
                    </div>
                </li>
<!--                #Contact-->
                <li><a href="contact.html">Contact</a></li>
<!--                #Cart-->
                <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="page-header">
        <h2>#stayhome</h2>
        <p>Save more with the coupons & upto 70% off!!</p>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro" data-name="p-23">
                <img src="static/necklace_images/necklace_b1.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-24">
                <img src="static/necklace_images/necklace_b2.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-25">
                <img src="static/necklace_images/necklace_b3.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-26">
                <img src="static/necklace_images/necklace_b4.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-27">
                <img src="static/necklace_images/necklace_b5.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-28">
                <img src="static/necklace_images/necklace_b6.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-29">
                <img src="static/necklace_images/necklace_b7.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-30">
                <img src="static/necklace_images/necklace_b8.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-31">
                <img src="static/necklace_images/necklace_b9.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-32">
                <img src="static/necklace_images/necklace_b10.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-33">
                <img src="static/necklace_images/necklace_b11.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-34">
                <img src="static/necklace_images/necklace_b12.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-35">
                <img src="static/necklace_images/necklace_b1.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-36">
                <img src="static/necklace_images/necklace_b2.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-37">
                <img src="static/necklace_images/necklace_b3.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-38">
                <img src="static/necklace_images/necklace_b4.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-39">
                <img src="static/necklace_images/necklace_b5.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-40">
                <img src="static/necklace_images/necklace_b6.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-41">
                <img src="static/necklace_images/necklace_b7.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-42">
                <img src="static/necklace_images/necklace_b8.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro" data-name="p-43">
                <img src="static/necklace_images/necklace_b9.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-44">
                <img src="static/necklace_images/necklace_b10.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-45">
                <img src="static/necklace_images/necklace_b11.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro" data-name="p-46">
                <img src="static/necklace_images/necklace_b12.png" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Catoon Astonaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹78</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

        </div>
    </section>

    <div class="products-preview">

       <div class="preview" data-target="p-23">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b1.png" alt="">
          <h3>organic strawberries</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-24">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b2.png" alt="">
          <h3>organic onions</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b2.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-25">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b3.png" alt="">
          <h3>organic tomatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b3.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-26">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b4.png" alt="">
          <h3>organic brinjal</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b4.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-27">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b5.png" alt="">
          <h3>organic broccoli</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b5.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

       <div class="preview" data-target="p-28">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b6.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b6.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-29">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b7.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b7.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-30">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b8.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b8.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-31">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b9.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b9.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-32">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b10.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b10.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-33">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b11.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_11.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-34">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b12.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-35">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-36">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-37">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-38">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-39">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-40">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-41">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-42">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-43">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-44">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-45">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

        <div class="preview" data-target="p-46">
          <i class="fas fa-times"></i>
          <img src="static/necklace_images/necklace_b12.png" alt="">
          <h3>organic potatoes</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
          <div class="price">$2.00</div>
          <div class="buttons">
             <a href="#" class="cart">Add To Cart</a>
              <form action="{{ url_for('try_necklace_image', image_name='necklace_b1.png') }}" method="get">
                  <button class="try">Try The Product</button>
              </form>
          </div>
       </div>

    </div>

<!--    <section id="pagination" class="section-p1">-->
<!--        <a href="#">1</a>-->
<!--        <a href="#">2</a>-->
<!--        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>-->
<!--    </section>-->

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newtext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail Updates about or latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="email" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="static/webPage/Logo.png" alt="" width="190" height="100">
            <h4>Contact</h4>
            <p><strong>Address: </strong>SKNCOE,Vadgaon,Pune-411052</p>
            <p><strong>Phone: </strong>+91 0123456789</p>
            <p><strong>Hours: </strong>10.00 - 10.00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow US</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinteresr-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Whislist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Store</p>
            <div class="row">
                <img src="static/webPage/app.jpg" alt="">
                <img src="static/webPage/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="static/webPage/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>@ 2023, MARS etc - Eccomerce Webiste</p>
        </div>
    </footer>
</body>
</html>
